.save-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it’s on top of other content */
}

.save-content {
    background: var(--surface-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust width as needed */
}

.save-content h2 {
    margin-top: 0;
    color: var(--primary-text-color);
}

.save-content form {
    display: flex;
    flex-direction: column;
}

.save-content input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid var(--secondary-highlight-color);
    border-radius: 4px;
}

.save-content button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.save-content button[type="submit"] {
    background-color: var(--primary-highlight-color);
    color: var(--primary-text-color);
}

.save-content button[type="button"] {
    background-color: var(--hover-color);
    color: var(--secondary-text-color);
}
