.apparatus-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100vw;
    height: 90vh;
    box-sizing: border-box;
    margin: auto;
    margin-top:60px;
    padding: 5vh 5vw 5vh 5vw;
    background-color: var(--secondary-colour-low);
}

.apparatus-button {
    width: 100%;
    height: 100%;
    font-size: 4em;
    font-family: "Oswald", sans-serif;
    color: var(--text-colour);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: radial-gradient(circle, #E0E0E03C 28%, #C7C7C73C 100%);
    transition: background-color 0.3s ease;
}

.apparatus-button:hover {
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .button-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

