/* App.css */
.landing-page {
  margin: 0;
  overflow: hidden;
}

.landing-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.landing-left {
  width:50vw;
}

.landing-text-box {
  text-align: left;
  width:35vw;
  margin: 0 7vw;
}

.landing-front-page {
  width: 50vw;
}

.landing-title {
  color : var(--primary-colour);
  font-weight:50;
  font-size: 60px;
  margin:0;
}

.landing-slogan {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 50;
  color: var(--text-colour);
}

.cta-button {
  width: 30%;
  margin:0 8%;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 32px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.cta-button-red {
  background-color: var(--primary-colour);
}

.cta-button-blue {
  background-color: var(--secondary-colour);
}

.cta-button-red:hover {
  background-color: var(--primary-colour-hover);
}

.cta-button-blue:hover {
  background-color: var(--secondary-colour-hover);
}

/* Footer and Social Media */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: var(--surface-color);
}

.social-media-icons a {
  color: var(--primary-text-color);
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s;
}

.social-media-icons a:hover {
  color: var(--accent-highlight-color);
}


/* footer */
.final-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
}

.info-left {
  flex: 2; /* 2/3 of the container's height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Aligns content to the left */
  padding-left: 20%; /* Optional: Adds space from the left edge */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

.social-media-icons {
  display: flex;
  gap: 15px; /* Space between the icons */
}

.social-media-icons a {
  color: white;
  font-size: 24px; /* Size of the icons */
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-media-icons a:hover {
  color: #aaa; /* Change color on hover */
}
