.routine-entry {
    display: flex;
    align-items: center;
    margin-right: 5em;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    margin: 0.5em 0;
    border-radius: 10px;
    background-color: var(--secondary-colour-low);
}

.routine-apparatus-icon {
    padding:20px;
    display: flex;
    justify-content: center;
    width: 12%;
} 

.routine-metadata-container {
    margin: 0.2em 0;
}

.routine-info-container {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: left;
    gap: 10px;
}

.routine-difficulty-container {
    width: 100%;
    height:50%;
    display: flex;
    align-items: center;
}

.routine-interactive {
    margin-left: auto;
    margin-right: 1em;
}

.routine-name{
    font-size: 36px;
    font-family: "Oswald" sans-serif;
    font-weight: 100;
    color: white;
}

.routine-start-value-container p {
    margin: 0;
    padding: 0;
    font-size: 44px;
    text-align: center;
    color: white;
}

.difficulty-breakdown-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px; /* Space between start value and difficulty breakdown */
    gap: 20px;
}

.difficulty-breakdown {
    background-color : #D9D9D9;
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 4px;
    text-align: center;
}
W
.difficulty-breakdown-value {
    text-align:center;
}

.collection-text {
    font-size: 28px;
    color: rgb(255, 255, 255, 0.85);
    white-space: nowrap; /* Prevent wrapping */
}

.edit-routine-button {
    width: 24px; /* Adjust width to match your edit button size */
    height: 24px; /* Adjust height as needed */
    margin-left: 15px; 
    margin-right: 15px;
    cursor: pointer;
    color: white;
}

.edit-routine-placeholder {
    width: 24px; /* Adjust width to match your edit button size */
    height: 24px; /* Adjust height as needed */
    margin-left: 15px; /* Space between elements */
    margin-right:15px;
}

.favourite-star {
    cursor: pointer;
    font-size: 1.5em; /* Size for visibility */
}

.favourite-star.favourited {
    color: yellow;
}

.favourite-star.not-favourited {
    color: gray;
}

/* Additional styles for better responsiveness */
@media (max-width: 768px) {
    .routine-entry {
        flex-direction: column; /* Stack elements on smaller screens */
        align-items: flex-start; /* Align items to start */
    }

    .routine-name {
        width: 100%; /* Full width for mobile */
        margin-left: 0; /* Reset margin */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    .difficulty-breakdown-container {
        width: 100%; /* Full width for mobile */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    .edit-routine-button {
        margin: 5px 0; /* Adjust margin for mobile */
    }
}
