*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Container for the entire routine builder */
.routine-builder {
    display: flex;
    flex-direction: row; /* Ensure children are side by side */
    width: 100vw; /* Full viewport width */
    height: 90vh; /* Full viewport height */
    margin-top: 60px;
}

/* Routine section layout */
.routine {
    flex: 2; /* Takes up 2x the space of the skills section */
    height: 100%; /* Full height of the container */
    display: flex;
    flex-direction: column; /* Stack the sub-sections vertically */
    overflow: hidden;
    box-sizing: border-box;
}

/* Routine title container */
.routine-box {
    display: flex;
    align-items: baseline;
    width:100%;
}

.routine-info-section {
    background-color: var(--secondary-colour-low);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.routine-info-right-section {
    display:flex;
    margin-right: 1%;
}

.routine-info-box {
    display:flex;
    flex-direction: column;
    align-items: left;
    padding:1%;
}

/* Routine box styling (title section) */
.routine-title-container {
    display: flex;
    align-items: baseline;
    gap: 0.5em;
}

.routine-builder-apparatus-icon {
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.edit-icon {
    font-size: 1.5em;
    vertical-align: middle;
}

.collection-dropdown {
    background-color: var(--secondary-colour);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size: 18px; /* Button text size */
    margin-top:2px;
    text-align: center;
    height:20%;
    padding:0;
    border-radius: 8px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.collection-dropdown option {
    padding:0;
    margin:0;
}

/* Routine name (title) */
.routine-title {
    font-size: 108px;
    font-weight:100;
    margin: 0;
    color: var(--text-colour);
}

/* Routine collection */
.routine-collection {
    font-size: 1em;
    color: white;
}

.save-info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-right:5%;
    padding-left:1%;
    margin-top:2%;
}

.save-routine-button {
    height:20%;
    background-color: var(--primary-colour); /* Background color */
    color: white; /* Text color */
    font-family: 'Open Sans', sans-serif;
    font-weight:200;
    font-size: 18px; /* Button text size */
    border: none; /* Remove border */
    border-radius: 8px; /* Rounded button */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.button-saved {
    background-color: var(--primary-colour-hover);
}

.save-routine-button:hover {
    background-color: var(--primary-colour-hover); /* Change color on hover */
}












.hide-scrollbar {
    overflow: auto; /* Enables scrolling */
    
    /* Hide scrollbar for Chrome, Safari, and Opera */
    ::-webkit-scrollbar {
      display: none;
    }
    
    /* Hide scrollbar for Firefox */
    scrollbar-width: none; 
    
    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
  }  

/* Container for the skills group */
.skills-group {
    height:100%;
    width: 100%; /* Take full width of the .skills section */
    overflow-y: auto; /* Scrollable if content overflows */
    background-color: var(--surface-color);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Layout for the skills list */
.skills-box {
    display: flex;
    flex-direction: column; /* Stack skills vertically */
    margin:0 1em;
}

.skill-search-bar-container {
    display: flex;
    justify-content: center;
    padding: 0 20%;
    margin-top: 5%;
}

/* Input and Dropdown Styling */
.skill-search-bar{
    width:100%;
    padding: 12px;
    border-radius: 32px;
    border: none;
    background-color: var(--background-colour);
    color: #222222B2;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.skill-search-bar:focus {
    border-color: var(--primary-highlight-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none; /* Remove default outline */
}

/* Skill page title bar */
.skill-page-filter {
    display: flex;
    padding: 2em 2em;
    justify-content: space-between; /* Align buttons on each side */
    align-items: flex-start; /* Align items at the top */
    width: 100%;
}

.left-side {
    display: flex;
    flex-direction: column; /* Stack the input and button vertically */
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.filter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    font-size: 25px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

.filter-button .arrow {
    display: inline-block;
    transition: transform 0.3s ease; /* Smooth rotation */
}   

.arrow.down {
    transform: rotate(0deg); /* Down arrow (default) */
}

.arrow.up {
    transform: rotate(180deg); /* Up arrow */
}

.flop-button {
    color: var(--primary-text-color);
    background-color: var(--hover-color);
    border: none;
    border-radius: 6px;
    margin: 1em 4em 0 0;
    padding: 0.5em 0;
    cursor: pointer;
}

.flop-button:hover {
    background-color: var(--primary-highlight-color);
}

.filter-form-container.closed {
    display: none;
}

.filter-form-container.open {
    display: block;
}

/* Panel Styles */
.skills-panel {
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #001F3FA3;
    overflow-y: auto;
    z-index: 500;
}

.skills-panel.hidden {
    visibility:hidden;
}

/* Skills section styling */
.skills {
    flex: 1; /* Make it take up half the space */
    width:50%;
    margin:auto;
    height: 100%; /* Full height of the container */
    box-sizing: border-box; /* Include padding in the element's width and height */
}

.exit-skill-list-button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
}

.sorting-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.sort-text {
    color: white;
    font-weight:100;
    font-size:25px;
    font-family: "Open Sans" sans-serif;
}

.sort-skill-select {
    padding: 6px;
    height: 50%;
    padding-right:40px;
    border-radius: 8px;
    border: none;
    background-color: var(--background-colour);
    color: #222222B2;
    font-size: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Toggle Button */
.toggle-panel-button {
    position: absolute;
    top: 50%;
    left:0;
    transition: left 0.3s ease-in-out;
    background-color: #007bff;
    color: white;
    border: none;
    width: 35px;
    height: 80px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 100;
}

.toggle-panel-button.open {
    left: 40%;
}

.toggle-panel-button:hover {
    background-color: #0056b3;
}

/* Routine section */
.routine-section {
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack the difficulty and drop container */
    width: 100%;
    overflow: hidden;
}

/* Skill Drop Container */
.skill-drop-container {
    padding: 1% 10%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 8px;
    width: 100%;
    overflow-y: auto;
    height:100%;
}

/* Adjust the skill-drop placeholder */
.skill-drop {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding-bottom: 16px;
    height:100%;
}

.skill-drop-index {
    width: 10%;
    color: var(--primary-text-color);
    text-align: center;
}

.skill-drop-placeholder {
    width: 100%;
    height:100%;
    margin:0;
    padding:0;
}

.routine-direction-arrow {
    margin: 1.3em;
    transform: scale(1.5);
    color: var(--secondary-colour);
}

/* General box styling */
.box {
    position: relative;
    width: 100%;
    padding: 16px;
    border: 1px solid var(--secondary-highlight-color);
    border-radius: 8px;
    background-color: var(--surface-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Close button styling */
.closeButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.unavailable-placeholder {
    opacity: 0.5;
    color: var(--primary-text-color);
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-highlight-color);
    border-radius: 8px;
}

.colour-penalty {
    background-color: red;
}

.colour-execution {
    background-color: var(--primary-highlight-color);
}

.colour-difficulty {
    background-color: var(--secondary-highlight-color);
}

/* Dropdown arrow styling */
select {
    appearance: none; /* Remove default dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    padding-right: 32px; /* Add padding for the custom icon */
}
