.filter-form {
    background-color: var(--hover-color);
    border-radius: 8px;
    padding: 16px;
    display:flex;
    justify-content: space-between;
}

.difficulty-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 3px;
    margin-right:10%;
}

.filter-form-left-side {
    display: flex;
    width: max-content;

}

.group-selector {
    display:flex;
    justify-content: center;
    margin-right:10%;
}

.reset-button-container {
    display:flex;
    margin-bottom: auto;
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.difficulty-value-button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: scale 0.3 ease;
}

.difficulty-value-button:hover {
    transform: scale(1.05);
}
