:root {
  --background-colour: #ECECEC;
  --primary-colour: #DC143C;
  --secondary-colour: #001F3F;
  --text-colour: #222222;

  --primary-colour-hover: #bb0c2f;
  --secondary-colour-hover: #00152b;

  --secondary-colour-low: rgba(0, 31, 63, 0.3);

  --panel-colour: #D5D5D5;
}